*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5efef;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    
}

.wrapper{
    text-align: center;
}
.go-back{
    border: 3px solid transparent;
    position: sticky;
    top: 0;
    margin: 0;
    /* margin-bottom: 50px; */
    background-color:#f5efef;
    z-index: 99;
}
.go-back:hover{
    background-color: #e2cdcd;
    border: 3px solid #bb9999;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    max-height: 250px;
    max-width: 400px;
    padding: 0;
    background-color: #fff;
    font: 0/0 a;
}
.image-container img,
.image-container svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 350px;
    max-height: 100%;
    border-radius: 0;
    padding: 0;
    background: 0;
    position: inherit !important;
}
.chartOptionCard{
    cursor: pointer !important;
    text-align: center;
    width: 400px;
    min-width: 400px;
    max-height: 300px;
    margin: 20px;
    overflow: hidden;
    border: 1px solid #bb9999;
    /* #4f97e4 */
    border-radius: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 7px 0px, rgba(60, 64, 67, 0.15) 0px 7px 10px 6px
}

.chartOptionCard:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 10px 12px 0px,
  rgba(60, 64, 67, 0.15) 0px 12px 15px 11px;
    border: 2px solid #bb9999;
    border-radius: 0rem;
}

.chartOptionCard h2 {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #e2cdcd;
}
.chartOptionCard:hover > h2 {
    white-space: normal;
}

.chart-container{
    padding: 50px;
}



